body {
  background-color: darkslategrey;
}

#users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  padding-top: 100px;
  padding-left: 50px;
  margin: auto;
  margin-top: 20px;
  background-color: burlywood;
  width: 400px;
  height: 300px;
}
p {
  color: darkslategrey;
  font-size: larger;
  font-weight: 900;
}
